.file-uploader {
  width: 100%;
  height: 100%;
  background-color: rgb(from var(--border-color) r g b / 0.28);

  border-radius: 16px;

  padding: 16.5px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;

  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    var(--accent-color) 0%,
    #dddcfc 43%,
    var(--white-color) 100%
  );
  border-radius: 22px;

  padding: 42px 13px 12px 13px;
  transition: background-image 2s ease;
}

.content[response] {
  background-image: linear-gradient(var(--accent-color) 0%, #8f8df4 100%);
  transition: background-image 2s ease;
}

.content.error[response] {
  background-image: linear-gradient(var(--error-color) 0%, #8f8df4 100%);
  transition: background-image 2s ease;
}

.wrapper-close-button {
  position: absolute;
  right: 10px;
  top: 11px;
}

#form {
  display: block;
  overflow: hidden;
  opacity: 1;
  max-height: 1000px;
  transition:
    max-height 2s ease,
    opacity 1s ease;
}

#response {
  display: block;
  overflow: hidden;
  opacity: 1;
  max-height: 1000px;
  transition:
    max-height 2s ease,
    opacity 1s ease;
}

.content[response] #form {
  max-height: 0; /* Уменьшаем высоту формы до нуля */
  opacity: 0;
  pointer-events: none; /* Включаем взаимодействие с элементом */
}

.content[response] #response {
  max-height: 1000px; /* Восстанавливаем высоту для response */
  opacity: 1;
  transition-delay: 2s;
  pointer-events: auto; /* Включаем взаимодействие с элементом */
}

.content:not([response]) #form {
  max-height: 1000px; /* Восстанавливаем высоту формы */
  opacity: 1;
  transition-delay: 2s;
  pointer-events: auto; /* Включаем взаимодействие с формой */
}

.content:not([response]) #response {
  max-height: 0;
  opacity: 0;
  pointer-events: none; /* Включаем взаимодействие с элементом */
}
